body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1167px;
  height:631px;
}
#u2815 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:106px;
  width:1167px;
  height:631px;
}
#u2815_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
